body {
}
a {
  text-decoration: none;
}

.superscript {
  font-size: 0.5em;
  vertical-align: super;
  line-height: 0;
  padding: 0 0.25em;
}

.subscript {
  font-size: 0.5em;
  vertical-align: sub;
  line-height: 0;
  padding: 0 0.25em;
}

svg {
  margin: auto;
  display: block;
  font-family: "Akshar", sans-serif;
}

text {
  fill: #000;
  stroke: none;
  text-anchor: middle;
  font-size: 1rem;
  dominant-baseline: middle;
}

.text-left {
  text-anchor: start;
}

.text-right {
  text-anchor: end;
}
